/* Headings */
h3 {
  color: #477835;
}
h1 {
  color: #477835 !important;
}

/* Paragraphs */
p {
  color: #477835;
  font-weight: 900;
}

/* Logo image (if you use a specific class) */
.logo {
  height: 100px;
  width: 200px;
}

/* Generic styling for images (e.g., your logo) */
img {
  position: sticky !important;
  top: 0;
}

.st-emotion-cache-1yk2xem {
  border: 3px solid #477835 !important;
}

/* input {
  border: 3px solid #477835 !important;
  color: #477835 !important;
}
/* Text area styling (user input box) */

/* Change background color for entire app */
html,
body,
.main {
  background-color: #f5fdf0 !important;
}

/* Optional: Buttons */
button {
  background-color: #477835 !important;
  color: white !important;
  border-radius: 8px !important;
}

/* Optional: Make the sidebar background match */
section[data-testid="stSidebar"] {
  background-color: #cfe9b9 !important;
}
